@font-face {
    font-family: 'Regular';
    src: url('assets/fonts/Regular-Semibold.woff'),
         url('assets/fonts/Regular-Semibold.eot'),
         url('assets/fonts/Regular-Semibold.ttf');
}

@font-face {
    font-family: 'Regular';
    font-weight: bold;
    src: url('assets/fonts/Regular-Extrabold.woff'),
         url('assets/fonts/Regular-Extrabold.eot'),
         url('assets/fonts/Regular-Extrabold.tff');
}
