// Colours
$c-black: #222;
$c-grey: #666;
$c-light-grey: #e8e8e8;
$c-white: #fff;

$c-green: #009b3a;
$c-yellow: #fedf00;
$c-red: #e20707;
$c-blue: #1440ad;
$c-gold: #e2b537;
$c-light-blue: #3399cc;

// Breakpoints
$mq-breakpoints: (
    tablet:          740px,
    desktop:         1140px
);
