{{> includes/head }}

<div class='home-header'>
    {{> partials/nav }}

    <div class='container'>
        <h2 class='home-header__copy'>
            About
        </h2>
    </div>
</div>

<div class='about'>
    <div class='container'>
        <div class='about__content'>
            <p>Four years ago, England faced off against Uruguay in the group stage of the 2014 World Cup. For a viewing party with friends we decided to explore a classic of <a href='https://www.instagram.com/p/pcCSXzQY4g/?taken-by=sammorrisdesign'>Uruguayan cuisine</a>. With England going on to lose the match the happiest result of the day was <a href='/recipes/uruguay-sandwich-el-chivito.html'>El Chivito</a>.</p>

            <p>Over the next four years The World Cook percolated and simmered away on the back-burner. And as countries started to qualify for the 2018 World Cup, a long period of research, test cooking, trips to speciality markets, kitchen mishaps and delicious triumphs began.</p>

            <p>The 32 recipes on The World Cook represent only a small fraction of what we cooked. Our aim was to offer a selection of dishes for every palate, cooking ability, and to meet any dietary needs – we hope you’re pleased with what you find. We want to acknowledge that this is a project done by two middle-class white people, with the means and access to all the resources needed to complete a project like this. Our intention was to offer up an honest and fun way to celebrate the sport we enjoy so much. If you have any feedback on the recipes or content of this site, please be in touch at <a href='mailto:coach@theworldcook.com'>coach@theworldcook.com</a>.</p>

            <p>Through June we will be releasing recipes as the tournament progresses, so hold tight if the nation you are waiting for hasn’t appeared yet. In the meantime, and for bonus content, be sure to follow The World Cook on <a href='https://twitter.com/worldcook2018'>Twitter</a> and <a href='https://www.instagram.com/worldcook2018'>Instagram</a>.</p>

            <h2>How it works</h2>

            <p>Starting off with an initial eight recipes, The World Cook will be updated throughout the group stage of the World Cup. Check out the home page for a date of when the nation you are supporting will be revealed. By June 29th, you'll be able cook along to a traditional favorite or culinary stand-out from each of the 32 nations.</p>

            <h2>About the Creators, aka The Coaching Staff</h2>

            <p><strong>Sam Morris</strong> is a Head of Design at GuardianUS. You can follow him on <a href='https://www.twitter.com/sammorrisdesign'>Twitter</a> & <a href='https://www.instagram.com/sammorrisdesign'>Instagram</a>. Sam is from London, England, supports Tottenham Hotspur, and in this World Cup would like to see England not embarrass themselves.</p>

            <p><strong>Shannon Thomas</strong> is a nonprofit administrator working in documentary film. She thinks that the US National Womens Team should be paid more than the USMNT dopes who failed to qualify. You can follow her on <a href='https://www.twitter.com/sptmusic'>Twitter</a> and <a href='https://www.instagram.com/sptmusic'>Instagram</a>. Shannon is from New Jersey and had never been to a non-football sporting event until 2016. She’s hoping that Lionel Messi can keep it together this year.</p>

            <p>Sam and Shannon now live in Brooklyn, NY with their dog László. Both of them gave up actually playing football in their youth, but enjoy Premier League mornings and humming along to the Match of the Day theme tune.</p>

            <h2>Thank yous</h2>

            <p>Thank you to all the chefs and home cooks who originally crafted the recipes we used and adapted for this site. We could not have achieved any of this without them and we encourage you to visit their original recipes and others on their sites as linked on each recipe page on The World Cook.</p>

            <p>Sam & Shannon would like to thank each other. Also, all our friends, family and coworkers who helped taste recipes, put up with weird leftover lunches and listened to our prattling on about this venture for the past two years. Thank you for your input, recommendations, taste buds and support along the way! Thank you to New York City for being so amazingly diverse, we were able to find all the ingredients for all 32 recipes seemingly at our doorstep (if you are reading this and have never been to Kalustyan’s, stop and go there now). Shout out to László who is a very good dog and clinched Man of the Match right at the end of this process.</p>
        </div>
    </div>
</div>

{{> includes/footer }}
