{{> includes/head }}

<div class='home-header'>
    {{> partials/nav }}

    <div class='container'>
        <h2 class='home-header__copy'>
            About
        </h2>
    </div>
</div>

<div class='about'>
    <div class='container'>
        <div class='about__content'>
        <h2>About the Site</h2>

        <p>It started with a sandwich during the 2014 World Cup.</p>

        <p>Four years ago, Sam had the idea to cook his way through the World Cup. It was a bright summer day in London, some friends came round, they assembled un chivito [link here to ours], and enjoyed Uruguay vs. XXXXXX. Someone won the game and over the course of the tournament other recipes were tested out from around the world.</p>

        <p>Over the next four years The World Cook percolated and simmered away on the back-burner. And as countries started to qualify for the 2018 World Cup, a long period of research, test cooking, trips to speciality markets, kitchen mishaps and delicious triumphs began.</p>

        <p>The 32 recipes on The World Cook represent only a small fraction of what we cooked. Our aim was to offer a selection of dishes for every palate, cooking ability, and to meet any dietary needs – we hope you’re pleased with what you find. We want to acknowledge that this is a project done by two middle-class white people, with the means and access to all the resources needed to complete a project like this. Our intention was to offer up an honest and fun way to celebrate the sport we enjoy so much. If you have any feedback on the recipes or content of this site, please be in touch at coach@theworldcook.com.</p>

        <p>Over the next four weeks we will be releasing recipes as the tournament progresses, so hold tight if the nation you are waiting for hasn’t appeared yet. In the meantime, and for bonus content, be sure to follow The World Cook on Twitter & Instagram [links].</p>

        <h2>About the Creators, aka The Coaching Staff</h2>

        <p>Sam Morris is a Head of Design at GuardianUS and is an all-around super smart and cool guy. You can follow him @SamMorrisDesign on Twitter & Instagram. Sam is from London, England, supports Tottenham Hotspur, and in this World Cup would like to see the Lions do something rad.</p>

        <p>Shannon Thomas is a nonprofit administrator working in documentary film. She thinks that the US National Womens Team should be paid more than the USMNT dopes who failed to qualify. You can follow her @sptmusic on Twitter and Instagram. Shannon is from New Jersey and had never been to a non-football sporting event until 2016. She’s hoping that Lionel Messi can keep it together this year.</p>

        <p>Sam and Shannon now live in Brooklyn, NY with their dog László. Both of them gave up actually playing football in their youth, but enjoy Premier League mornings and humming along to the Match of the Day theme tune.</p>

        <h2>Thank yous</h2>

        <p>Thank you to all the chefs and home cooks who originally crafted the recipes we used and adapted for this site. We could not have achieved any of this without them and we encourage you to visit their original recipes and others on their sites as linked on each recipe page on The World Cook.</p>

        <p>Sam & Shannon would like to thank each other. Also, all our friends, family and coworkers who helped taste recipes, put up with weird leftover lunches and listened to our prattling on about this venture for the past two years. Thank you for your input, recommendations, taste buds and support along the way! Thank you to New York City for being so amazingly diverse we were able to find all the ingredients for all 32 recipes seemingly at our doorstep (if you are reading this and have never been to Kalustyan’s, stop and go there now). Shout out to László who is a very good dog and clinched Man of the Match right at the end of this process.</p>
        </div>
    </div>
</div>

{{> includes/footer }}
