{{> includes/head }}

<div class='home-header'>
    {{> partials/nav }}

    <div class='container'>
        <div class='home-header__content'>
            <h2 class='home-header__copy'>
                A game of<br />32 dishes
            </h2>
            <p class='home-header__description'>
                32 dishes to represent the 32 countries competing to win the 2018 World Cup in Russia.
            </p>
        </div>
    </div>
</div>

<div class='home-recipes'>
    <div class='container'>
        <div class='home-recipes__header'>
            <h2 class='home-recipes__title'>Recipes</h2>
            <ul class='home-recipes__filters'>
                <span class='home-recipes__filter-label'>View by:</span>
                <li class='home-recipes__filter'>Group</li>
                <li class='home-recipes__filter'>Region</li>
                <li class='home-recipes__filter'>Time</li>
            </ul>
        </div>
        <div class='cards'>
            <div class='card-group'>
                <h2 class='card-group__title'>Group A</h2>
                {{#each @this }}
                    {{#if_eq group 'A'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group B</h2>
                {{#each @this }}
                    {{#if_eq group 'B'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group C</h2>
                {{#each @this }}
                    {{#if_eq group 'C'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group D</h2>
                {{#each @this }}
                    {{#if_eq group 'D'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group E</h2>
                {{#each @this }}
                    {{#if_eq group 'E'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group F</h2>
                {{#each @this }}
                    {{#if_eq group 'F'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group G</h2>
                {{#each @this }}
                    {{#if_eq group 'G'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group H</h2>
                {{#each @this }}
                    {{#if_eq group 'H'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{> includes/footer }}
