{{> includes/head }}

<div class='home-header'>
    {{> partials/nav }}

    <div class='container'>
        <div class='home-header__content'>
            <h2 class='home-header__copy'>
                Give bad meals<br />
                the red card
            </h2>
            <p class='home-header__description'>
                An interactive cookbook of recipes from all 32 nations vying for the biggest trophy in sports – the World Cup
            </p>
        </div>

        <div class='home-header__featured'>
            <p class='home-header__description'>
                <a class='home-header__featured-link' href='/recipes/miso-ramen-pork-belly-quick-recipe.html'>
                <strong>Featured recipe</strong><br />
                Miso ramen with pork belly
                </a>
            </p>
        </div>
    </div>

    <div class='container'>
        <div class='home-header__mobile-content'>
            <h2 class='home-header__copy'>The World Cook</h2>
            <p class='home-header__description'>An interactive cookbook of recipes from all 32 nations vying for the biggest trophy in sports - the&nbsp;World&nbsp;Cup</p>
        </div>
    </div>

    <div class='home-header__background'>
        <canvas class='home-header__canvas'></canvas>
        <div class='home-header__image-container'>
            <picture>
                <source media="(min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 800px) and (min-resolution: 120dpi)" sizes="512px" srcset="/assets/images/recipes/japan/home-header--1024.jpg 1024w">
                <source media="(min-width: 800px)" sizes="512px" srcset="/assets/images/recipes/japan/home-header--512.jpg 512w">
                <source media="(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)" sizes="256px" srcset="/assets/images/recipes/japan/home-header--512.jpg 512w">
                <img class='home-header__image' src='/assets/images/recipes/japan/home-header--256.jpg'>
            </picture>
        </div>
    </div>
</div>

<div class='home-recipes groups'>
    <div class='container'>
        <div class='home-recipes__header'>
            <h2 class='home-recipes__title'>Recipes</h2>
            <ul class='home-recipes__filters'>
                <span class='home-recipes__filter-label'>View by:</span>
                <li class='home-recipes__filter home-recipes__filter--groups' data-filter='groups'>Group</li>
                <li class='home-recipes__filter home-recipes__filter--regions' data-filter='regions'>Region</li>
                <svg class='home-recipes__filter-ball' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.2 126.2"><circle cx="63.1" cy="63.1" r="60.6"/><path d="M88.8 63.3v18.2H121c1.8-5.8 2.8-12 2.8-18.4 0-5-.6-9.9-1.8-14.6h-15L88.8 63.3zM44.8 92.5v28.4c5.8 1.8 12 2.8 18.4 2.8 5 0 9.9-.6 14.6-1.8v-15.3L62.9 92.5H44.8zM2.5 63.1c0 6.4 1 12.6 2.8 18.4H20l13.7-19.1V48.5H4.3c-1.2 4.7-1.8 9.6-1.8 14.6zM63.1 2.5c-6.4 0-12.6 1-18.4 2.8v14.5l19.1 17.7h13.9V4.3c-4.6-1.2-9.5-1.8-14.6-1.8z"/></svg>
            </ul>
        </div>
        <div class='cards cards--groups'>
            <div class='card-group'>
                <h2 class='card-group__title'>Group A</h2>
                {{#each @this }}
                    {{#if_eq group 'A'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group B</h2>
                {{#each @this }}
                    {{#if_eq group 'B'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group C</h2>
                {{#each @this }}
                    {{#if_eq group 'C'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group D</h2>
                {{#each @this }}
                    {{#if_eq group 'D'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group E</h2>
                {{#each @this }}
                    {{#if_eq group 'E'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group F</h2>
                {{#each @this }}
                    {{#if_eq group 'F'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group G</h2>
                {{#each @this }}
                    {{#if_eq group 'G'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Group H</h2>
                {{#each @this }}
                    {{#if_eq group 'H'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>
        </div>

        <!-- Regions start here -->

        <div class='cards cards--regions'>
            <div class='card-group'>
                <h2 class='card-group__title'>Africa <span class='card-group__subtitle'>CAF</span></h2>
                {{#each @this }}
                    {{#if_eq region 'Africa'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Asia <span class='card-group__subtitle'>AFC</span></h2>
                {{#each @this }}
                    {{#if_eq region 'Asia'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Europe <span class='card-group__subtitle'>UEFA</span></h2>
                {{#each @this }}
                    {{#if_eq region 'Europe'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>Central America <span class='card-group__subtitle'>CONCACAF</span></h2>
                {{#each @this }}
                    {{#if_eq region 'North America'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>

            <div class='card-group'>
                <h2 class='card-group__title'>South America <span class='card-group__subtitle'>CONMEBOL</span></h2>
                {{#each @this }}
                    {{#if_eq region 'South America'}}
                        {{> partials/card }}
                    {{/if_eq}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{> includes/footer }}
