{{> includes/head }}

<div class='home-header'>
    {{> partials/nav }}

    <div class='container'>
        <div class='home-header__content'>
            <h2 class='home-header__copy'>
                A game of<br />32 dishes
            </h2>
            <p class='home-header__description'>
                32 dishes to represent the 32 countries competing to win the 2018 World Cup in Russia.
            </p>
        </div>
    </div>
</div>

<div class='home-recipes'>
    <div class='container'>
        <div class='cards'>
            {{#each @this}}
                {{> partials/card }}
            {{/each}}
        </div>
    </div>
</div>

{{> includes/footer }}
