{{> includes/head }}

<div class='recipe recipe--{{ colour }}'>
    {{> partials/recipe-header }}

    <div class='recipe__content'>
        {{> partials/recipe-intro }}

        {{> partials/recipe-ingredients }}

        <ul class='recipe-steps container'>
            {{#each steps }}
                {{> partials/recipe-step country=../country }}
            {{/each}}
        </ul>

        {{> partials/recipe-related }}
    </div>

    {{> partials/recipe-progress }}
</div>

{{> includes/footer }}