{{#if isBeta}}
    <div class='card card--live card--{{ colour }}' data-region='{{ region }}' data-group='{{ group }}'>
        <div class='card__inner'>
            <a class='card__link' href='/recipes/{{ slug }}.html'></a>
            <div class='card__country'>
                <h3 class='card__country-name'>{{ country }}</h3>
                <div class='card__country-flag flag'>
                    <img class='card__country-flag-image flag__image' src='/assets/images/flags/{{ handlise country }}.svg'>
                </div>
            </div>
            <div class='card__visual'>
                <picture>
                    <source media="(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)" sizes="260px" srcset="/assets/images/recipes/{{ handlise country }}/header--520.jpg 520w">
                    <img class='card__image' src='/assets/images/recipes/{{ handlise country }}/header--260.jpg'>
                </picture>
            </div>
            <div class='card__content'>
                <h2 class='card__recipe'>{{ recipe }}</h2>
                <div class='card__meta'>
                    <span class='card__meta-time'>{{ time }}<br /><i>{{ additionalTime }}</i></span>
                    {{#if isVegetarian}}<span class='card__meta-veggie'>V</span>{{/if}}
                </div>
            </div>
        </div>

        <div class='card__frame'></div>
    </div>
{{ else }}
    <div class='card card--empty'>
        <h2 class='card__country-name'>{{ country }}</h2>
        <h2 class='card__date'>{{ date }}<sup>{{ suffix date }}</sup></h2>
    </div>
{{/if}}
