<div class='recipe-header' style='background-image: url(/assets/images/{{ handlise country }}--header.jpg)'>
    {{> partials/nav }}
    <div class='container recipe-header__content'>
        <div class='recipe-header__country'>
            <div class='recipe-header__country-flag flag'>
                <img class='recipe-header__country-flag-image flag__image' src='/assets/images/flags/{{ handlise country }}.svg'>
            </div>
            <h2 class='recipe-header__country-label'>{{ country }}</h2>
        </div>
        <h1 class='recipe-header__title'>{{ recipe }}</h1>
    </div>
</div>
