<!-- To Do: Update data-detail attribute with data to be added to the spreadsheet -->
<li class='recipe-step recipe-step--{{ @index }}' data-step='{{ @index }}' data-detail='{{ format }} for {{ @index }}'>
    <div class='recipe-step__content'>
        <div class='recipe-step__number'>
            <span class='recipe-step__number__digit'>{{ step @index }}</span>
        </div>
        <div class='recipe-step__instructions'>{{{ instructions }}}</div>
        <div class='recipe-step__corner recipe-step__corner--top-left'></div>
        <div class='recipe-step__corner recipe-step__corner--bottom-left'></div>
        <div class='recipe-step__corner recipe-step__corner--top-right'></div>
        <div class='recipe-step__corner recipe-step__corner--bottom-right'></div>
    </div>
    <div class='recipe-step__visual'>
        <img class='recipe-step__image' src='/assets/images/{{ handlise country }}--step-{{ step @index }}.{{ format }}'>
    </div>
</li>