<div class='recipe-ingredients'>
    <div class='container'>
    <ul class='recipe-ingredients__box'>
        <h2 class='recipe-ingredients__title'>Ingredients</h2>
        {{#each ingredients}}
            <li class='recipe-ingredients__row recipe-ingredients__row--{{ handlise ingredient }}'>
                <div class='recipe-ingredients__amount recipe-ingredients__amount--imperial'>
                    {{ imperial }}
                </div>
                <div class='recipe-ingredients__amount recipe-ingredients__amount--metric'>
                    {{ metric }}
                </div>
                <div class='recipe-ingredients__ingredient'>
                    <span class='recipe-ingredients__ingredient-name'>{{ ingredient }} <em>{{ prepared }}</em></span>
                    {{#if substitute}}
                        <img class='recipe-ingredients__substitute' src='/assets/icons/substitute.svg' title='Substitute ingredient' data-substitute='{{ substitute }}' />
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>