<div class='recipe-intro container'>
    <div class='recipe-intro__inner'>
        <div class='recipe-intro__description'>{{{ description }}}</div>
        <ul class='recipe-intro__details'>
            <li class='recipe-intro__detail'>
                <span class='recipe-intro__detail-label'>Time</span>
                <span class='recipe-intro__detail-value' itemprop='cookTime'>{{ time }} <br /><i>{{ additionalTime }}</i></span>
            </li>
            <li class='recipe-intro__detail'>
                <span class='recipe-intro__detail-label'>Makes</span>
                <span class='recipe-intro__detail-value' itemprop='recipeYield'>{{ servings }}</span>
            </li>
            <li class='recipe-intro__detail'>
                <span class='recipe-intro__detail-label'>Difficulty</span>
                <span class='recipe-intro__detail-value'>{{ difficulty difficulty }}</span>
            </li>
            <li class='recipe-intro__detail recipe-intro__detail--units'>
                <span class='recipe-intro__detail-label'>Units</span>
                <span class='recipe-intro__detail-value'>
                    <span class='recipe-intro__detail-unit recipe-intro__detail-unit--imperial' data-unit='imperial'>Imperial</span>
                    <span class='recipe-intro__detail-unit recipe-intro__detail-unit--metric' data-unit='metric'>Metric</span>
                    <svg class='recipe-intro__detail-ball' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.2 126.2"><circle cx="63.1" cy="63.1" r="60.6"/><path d="M88.8 63.3v18.2H121c1.8-5.8 2.8-12 2.8-18.4 0-5-.6-9.9-1.8-14.6h-15L88.8 63.3zM44.8 92.5v28.4c5.8 1.8 12 2.8 18.4 2.8 5 0 9.9-.6 14.6-1.8v-15.3L62.9 92.5H44.8zM2.5 63.1c0 6.4 1 12.6 2.8 18.4H20l13.7-19.1V48.5H4.3c-1.2 4.7-1.8 9.6-1.8 14.6zM63.1 2.5c-6.4 0-12.6 1-18.4 2.8v14.5l19.1 17.7h13.9V4.3c-4.6-1.2-9.5-1.8-14.6-1.8z"/></svg>
                </span>
            </li>
        </ul>
    </div>
</div>
