<div class='recipe-intro container'>
    <div class='recipe-intro__description'>{{ page.description }}</div>
    <ul class='recipe-intro__details'>
        <li class='recipe-intro__detail'>
            <span class='recipe-intro__detail-label'>Time</span>
            <span class='recipe-intro__detail-value'>{{ page.time }}</span>
        </li>
        <li class='recipe-intro__detail'>
            <span class='recipe-intro__detail-label'>Makes</span>
            <span class='recipe-intro__detail-value'>{{ page.makes }}</span>
        </li>
    </ul>

    {{> partials/recipe-ingredients }}
</div>
