<li class='recipe-step'>
    <div class='recipe-step__bar'>
        <div class='container'>
            <div class='recipe-step__number'>
                <span class='recipe-step__number__digit'>{{ step @index }}</span>
            </div>
            <div class='recipe-step__instructions'>{{ instructions }}</div>
        </div>
    </div>
    <div class='recipe-step__visual'>
        
        <img class='recipe-step__image' src='/assets/images/{{ handlise country }}--step-{{ step @index }}.jpg'>
    </div>
</li>