<li class='recipe-step recipe-step--{{ @index }}' data-step='{{ @index }}' data-detail='{{ detail }}'>
    <div class='recipe-step__content'>
        <div class='recipe-step__number'>
            <span class='recipe-step__number__digit'>{{ step @index }}</span>
        </div>

        <div class='recipe-step__text'>
            <div class='recipe-step__instructions'>{{{ instructions }}}</div>
            {{#if tip}}
                <div class='recipe-step__tip recipe-step__tip--mobile'>
                    <img class='recipe-step__line' src='/assets/icons/tip-mobile.svg' />
                    <strong>Coach's tip</strong> {{ tip }}
                </div>
            {{/if}}
        </div>

        <div class='recipe-step__corner recipe-step__corner--top-left'></div>
        <div class='recipe-step__corner recipe-step__corner--bottom-left'></div>
        <div class='recipe-step__corner recipe-step__corner--top-right'></div>
        <div class='recipe-step__corner recipe-step__corner--bottom-right'></div>
    </div>
    <div class='recipe-step__visual'>
        {{#if tip}}
            <div class='recipe-step__tip recipe-step__tip--tablet recipe-step__tip--{{ tipSide }}'>
                <img class='recipe-step__line' src='/assets/icons/tip.svg' />
                <strong>Coach's tip</strong> {{ tip }}
            </div>
        {{/if}}
        <picture>
            <source media="(min-width: 720px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 720px) and (min-resolution: 120dpi)" sizes="760px" srcset="/assets/images/recipes/{{ handlise country }}/{{ step @index }}--1520.jpg 1520w">
            <source media="(min-width: 720px)" sizes="760px" srcset="/assets/images/recipes/{{ handlise country }}/{{ step @index }}--760.jpg 760w">
            <source media="(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)" sizes="420px" srcset="/assets/images/recipes/{{ handlise country }}/{{ step @index }}--840.jpg 840w">
            <img class='recipe-step__image' src='/assets/images/recipes/{{ handlise country }}/{{ step @index }}--420.jpg'>
        </picture>
    </div>
</li>