<div class='recipe-ingredients'>
    <div class='container'>
    <ul class='recipe-ingredients__box'>
        <h2 class='recipe-ingredients__title'>Ingredients</h2>
        {{#each ingredients}}
            <li class='recipe-ingredients__row'>
                <div class='recipe-ingredients__amount recipe-ingredients__amount--imperial'>
                    {{ imperial }}
                </div>
                <div class='recipe-ingredients__amount recipe-ingredients__amount--metric'>
                    {{ metric }}
                </div>
                <div class='recipe-ingredients__ingredient'>
                    {{ ingredient }}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
</div>