<div class='recipe-intro container'>
    <div class='recipe-intro__inner'>
        <div class='recipe-intro__description'>{{{ description }}}</div>
        <ul class='recipe-intro__details'>
            <li class='recipe-intro__detail'>
                <span class='recipe-intro__detail-label'>Time</span>
                <span class='recipe-intro__detail-value'>{{ time }} <br /><i>{{ additionalTime }}</i></span>
            </li>
            <li class='recipe-intro__detail'>
                <span class='recipe-intro__detail-label'>Makes</span>
                <span class='recipe-intro__detail-value'>{{ servings }}</span>
            </li>
            <li class='recipe-intro__detail'>
                <span class='recipe-intro__detail-label'>Difficulty</span>
                <span class='recipe-intro__detail-value'>{{ difficulty difficulty }}</span>
            </li>
            <li class='recipe-intro__detail recipe-intro__detail--units'>
                <span class='recipe-intro__detail-label'>Units</span>
                <span class='recipe-intro__detail-value'>
                    <span class='recipe-intro__detail-unit recipe-intro__detail-unit--imperial' data-unit='imperial'>Imperial</span>
                    <span class='recipe-intro__detail-unit recipe-intro__detail-unit--metric' data-unit='metric'>Metric</span>
                </span>
            </li>
        </ul>
    </div>
</div>
