    <div class='footer'>
            <div class='container'>
            <ul class='footer__links'>
                <li class='footer__link'>
                    <a href="/about.html">About</a>
                </li>
                <li class='footer__link'>
                    <a href="/about.html#contact">Contact</a>
                </li>
            </ul>

            <ul class='footer__social'>
                <li class='footer__social-button'>
                    <a href='https://www.twitter.com/worldcook2018'>
                        <img src='/assets/icons/twitter.svg' />
                    </a>
                </li>
                <li class='footer__social-button'>
                    <a href='https://www.instagram.com/worldcook2018'>
                        <img src='/assets/icons/instagram.svg' />
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="/main.js"></script>
</body>
</html>
