.about__content {
    padding: 20px 0;
    max-width: 600px;

    p {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
        margin-bottom: 28px;
    }

    h2 {
        font-size: 28px;
        line-height: 32px;
        color: $c-blue;
        margin: 48px 0 0;
    }

    a {
        color: $c-blue;
        border-bottom: 1px solid $c-black;

        &:hover {
            text-decoration: none;
            border-bottom-color: $c-blue;
        }
    }
}