.card-group {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    .card {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;

        @include mq(tablet) {
            width: calc(25% - 15px);
        }
    }

    .card__content {
        flex-grow: 1;
    }
}

.card-group__title {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 32px;
    color: $c-green;

    @include mq(desktopPlus) {
        position: absolute;
        transform: rotate(-90deg);
        width: 310px;
        left: -32px;
        top: 294px;
        text-align: center;
        transform-origin: left;
    }
}

.card-group__subtitle {
    color: $c-grey;
}

.card {
    position: relative;
    margin-bottom: 24px;
    background-color: $c-white;
}

.card--empty {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed $c-grey;
    min-height: 300px;

    .card__country-name {
        text-align: center;
        color: $c-grey;
    }

    .card__date {
        display: inline-block;
        margin: auto;
        font-size: 36px;
        line-height: 32px;
    }
}

.card__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    &:hover {
        text-decoration: none;
        border-bottom: none;
    }
}

.card__visual {
    position: relative;
    padding-top: 56.25%;
    background-color: rgba(0, 0, 0, 0.2);
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.card__content {
    position: relative;
    padding: 10px 10px 40px;
    border: 1px solid $c-black;
    border-top: none;
}

.card__country {
    position: relative;
    z-index: 2;
    padding: 10px 10px 6px;
    border-top: 1px solid $c-black;
    border-left: 1px solid $c-black;
    border-right: 1px solid $c-black;
}

.card__country-name {
    font-size: 20px;
    margin: 0;
}

.card__country-flag {
    border: 1px solid $c-black;
    position: absolute;
    right: 12px;
    bottom: -24px;
}

.card__recipe {
    font-size: 28px;
    line-height: 32px;
    min-height: 64px;
    margin: 0 0 12px 0;
}

.card__meta {
    position: absolute;
    bottom: 6px;
    left: 10px;
    color: $c-grey;
}