@mixin colourise($name, $c-colour) {
    .recipe--#{$name} {
        .recipe-step__number,
        .recipe-step__corner,
        .recipe-step__content,
        .recipe-intro__description a:hover {
            border-color: $c-colour;
        }

        .recipe-step__content:before,
        .recipe-progress,
        .recipe-header__content {
            background-color: $c-colour;
        }

        .recipe-ingredients__substitute-icon,
        .recipe-ingredients__expand {
            fill: $c-colour;
        }

        .recipe-ingredients__title,
        .recipe-step__ingredient,
        .recipe-ingredients__row.is-active,
        .recipe-intro__description a,
        .imperial & .recipe-intro__detail-unit--imperial,
        .metric & .recipe-intro__detail-unit--metric {
            color: $c-colour;
        }
    }

    .card--#{$name} {
        .card__country,
        .card__content,
        .card__country-flag {
            border-color: $c-colour;
        }

        .card__country-name {
            color: $c-colour;
        }
    }
}

@include colourise(red, $c-red);
@include colourise(green, $c-green);
@include colourise(yellow, $c-yellow);
@include colourise(blue, $c-blue);
@include colourise(light-blue, $c-light-blue);
@include colourise(gold, $c-gold);
