.home-recipes {
    padding: 20px 0;
    background-color: $c-light-grey;

    .cards {
        display: none;
    }

    &.groups {
        .cards--groups {
            display: block;
        }

        .home-recipes__filter--groups {
            pointer-events: none;
        }
    }

    &.regions {
        .cards--regions {
            display: block;
        }

        .home-recipes__filter--regions {
            pointer-events: none;
        }
    }
}

.home-recipes__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.home-recipes__title {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
    color: $c-black;
}

.home-recipes__filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-recipes__filter,
.home-recipes__filter-label {
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
}

.home-recipes__filter-label {
    color: $c-grey;
}

.home-recipes__filter {
    background-position: -120px .7em; 
    color: $c-green; 
}

.regions .home-recipes__filter--groups,
.groups .home-recipes__filter--regions {
    background-image: linear-gradient(to bottom, $c-grey 0%, $c-grey 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 .7em;
    transition: background 0.2s ease-in, color 0.2s ease-in;
    cursor: pointer;
    color: $c-grey;

    &:hover {
        background-image: linear-gradient(to bottom, $c-black 0%, $c-black 100%);
        background-position: 0 1.2em;
        color: $c-green;
    }
}
