.home-header {
    background-color: $c-green;

    .container {
        position: relative;
        z-index: 2;
    }
}

.home-header__content {
    padding: 82px 0 120px 0;
    color: $c-white;
    max-width: 360px;
}

.home-header__copy {
    margin: 0;
    font-size: 72px;
    line-height: 1;
    color: $c-white;
}

.home-header__description {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}

.home-header__canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
