.home-header {
    position: relative;
    background-color: $c-light-blue;

    .container {
        position: relative;
        z-index: 2;
    }
}

.home-header__content {
    padding: 82px 0 150px 0;
    color: $c-white;
    width: 50%;
    max-width: 460px;
}

.home-header__copy {
    margin: 0;
    font-size: 60px;
    line-height: .9;
    color: $c-white;
}

.home-header__description {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    padding-right: 100px;
    color: $c-white;
}

.home-header__featured {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.home-header__background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.home-header__canvas {
    width: 50%;
    height: calc(100% - 60px);
    margin: 30px 0;
}

.home-header__image {
    width: 50%;
    background-image: url('./assets/test.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #d5ddef;
}
