.home-recipes {
    padding: 20px 0;
    background-color: $c-light-grey;

    .cards {
        display: none;
    }

    &.groups {
        .cards--groups {
            display: block;
        }

        .home-recipes__filter--groups {
            pointer-events: none;
        }
    }

    &.regions {
        .cards--regions {
            display: block;
        }

        .home-recipes__filter--regions {
            pointer-events: none;
        }
    }
}

.home-recipes__header {
    padding-bottom: 16px;

    @include mq(tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.home-recipes__title {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
    color: $c-black;
}

.home-recipes__filters {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.home-recipes__filter,
.home-recipes__filter-label {
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
}

.home-recipes__filter-label {
    color: $c-grey;
}

.home-recipes__filter {
    color: $c-green; 
    text-indent: 22px;
}

.home-recipes__filter-ball {
    fill: none;
    stroke: $c-green;
    stroke-width: 6px;
    width: 16px;
    position: absolute;
    top: 4px;
    left: 0;
    transition: transform 0.3s ease-out;
}

.regions .home-recipes__filter--groups,
.groups .home-recipes__filter--regions {
    transition: color 0.2s ease-in;
    cursor: pointer;
    color: $c-black;

    &:hover {
        color: $c-green;
    }
}

@keyframes toGroups {
    0% {
        transform: translate(157px, 0px) rotate(360deg);
    }
    50%{
        transform: translate(117.5px, -40px) rotate(180deg);
    }
    100% {
        transform: translate(78px, 0px) rotate(0deg);
    }
}

.groups .home-recipes__filter-ball {
    transform: translate(78px, 0);
}

@keyframes toRegions {
    0% {
        transform: translate(78px, 0px) rotate(0deg);
    }
    50%{
        transform: translate(117.5px, -40px) rotate(180deg);
    }
    100% {
        transform: translate(157px, 0px) rotate(360deg);
    }
}

.regions .home-recipes__filter-ball {
    transform: translate(157px, 0);
}

.is-animatable {
    .regions &.home-recipes__filter-ball {
    animation: toRegions 0.3s linear;
    }

    .groups &.home-recipes__filter-ball {
        animation: toGroups 0.3s linear;
    }
}

