.nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;
    color: $c-white;
}

.nav__logo {
    margin: 0;
    font-size: 28px;
    font-weight: bold;

    a {
        color: $c-white;
    }
}

.nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__item {
    width: 100px;
    height: 0;
    display: inline-block;
    vertical-align: bottom;
    line-height: 0;
    font-size: 20px;
    text-align: right;

    a {
        color: $c-white;
    }
}
