.recipe-ingredients {
    z-index: 2;
    width: 100%;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        pointer-events: none;
    }

    &.is-fixed {
        @include mq($until: tablet) {
            .recipe-ingredients__box {
                padding-top: 49px;
            }

            .recipe-ingredients__title {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 5;
                padding: 0 18px;
            }
        }

        @include mq(tablet) {
            position: fixed;
            top: 0;
        }
    }

    &.is-fixed.is-expandable {
        @include mq($until:tablet) {
            .recipe-ingredients__rows {
                position: fixed;
                top: 0;
                z-index: 2;
                width: 100%;
                left: 0;
                background-color: $c-black;
                padding: 49px 20px 10px;
                box-sizing: border-box;
                transform: translateY(-100%);
            }
        }
    }

    &.is-fixed.is-expanded {
        @include mq($until: tablet) {
            .recipe-ingredients__rows {
                transition: transform 0.2s ease-in;
                transform: translateY(0%);
            }
        }
    }

    &.is-ended--mobile {
        @include mq($until: tablet) {
            .recipe-ingredients__title {
                transform: translateY(-100%);
            }
        }
    }

    &.is-ended {
        @include mq(tablet) {
            position: absolute;
            bottom: 0;
            top: auto;
        }
    }

    .container {
        position: relative;
    }
}

.recipe-ingredients__box {
    padding: 6px;
    margin: 12px 0;
    box-sizing: border-box;
    background-color: $c-black;
    color: $c-white;
    pointer-events: auto;

    @include mq(tablet) {
        float: right;
        width: 320px;
        margin: 12px 0 0 0;
    }
}

.recipe-ingredients__title {
    font-size: 28px;
    margin: 0 0 12px;
    background-color: $c-black;
    transition: transform 0.2s ease-in;
}

.recipe-ingredients__rows {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-ingredients__row {
    position: relative;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    border-top: $c-grey solid 1px;
    transition: color 0.4s ease-in;

    span {
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1px;
            width: 100%;
            left: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: left;
            background-color: $c-grey;
            transition: transform 0.25s ease-in;
        }
    }

    &.is-used {
        color: $c-grey;

        span:before {
            transform: scaleX(1);
        }
    }
}

.recipe-ingredients__amount {
    width: 80px;
    margin-right: 5px;
    padding-right: 5px;
    border-right: $c-grey solid 1px;
    flex-shrink: 0;

    &--imperial {
        display: none;
    }
}

.recipe-ingredients__substitute {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease-out;
    cursor: pointer;

    &:hover {
        transform: translateX(2px);
    }
}
