.recipe-ingredients {
    z-index: 2;
    width: 100%;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        pointer-events: none;
        margin-top: -12px;
    }

    &.is-fixed {
        @include mq($until: tablet) {
            .recipe-ingredients__box {
                padding-top: 49px;
            }

            .recipe-ingredients__title {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 5;
                padding: 6px 26px;
            }
        }

        @include mq(tablet) {
            position: fixed;
            top: 0;

            .recipe-ingredients__box {
                margin-top: 24px;
            }
        }
    }

    &.is-fixed.is-expandable {
        @include mq($until:tablet) {
            .recipe-ingredients__rows {
                position: fixed;
                top: 0;
                z-index: 2;
                width: 100%;
                left: 0;
                background-color: $c-black;
                padding: 49px 20px 10px;
                box-sizing: border-box;
                transform: translateY(-100%);
            }

            .recipe-ingredients__expand {
                opacity: 1;
            }
        }
    }

    &.is-fixed.is-expanded {
        @include mq($until: tablet) {
            .recipe-ingredients__rows {
                transition: transform 0.2s ease-in;
                transform: translateY(0%);
                padding-left: 26px;
                padding-right: 26px;
            }

            .recipe-ingredients__expand {
                transform: rotate(180deg);
            }
        }
    }

    &.is-ended--mobile {
        @include mq($until: tablet) {
            .recipe-ingredients__title {
                transform: translateY(-100%);
            }
        }
    }

    &.is-ended {
        @include mq(tablet) {
            position: absolute;
            bottom: 0;
            top: auto;

            .recipe-ingredients__box {
                margin-top: 12px;
            }
        }
    }

    .container {
        position: relative;
        overflow: auto;
    }
}

.recipe-ingredients__box {
    position: relative;
    padding: 0 6px 6px 6px;
    margin: 0;
    box-sizing: border-box;
    background-color: $c-black;
    color: $c-white;
    pointer-events: auto;

    @include mq(tablet) {
        float: right;
        width: 320px;
        margin: 12px 0 0 0;
    }
}

.recipe-ingredients__title {
    font-size: 28px;
    line-height: 1;
    padding: 6px 0;
    margin: 0 0 12px;
    background-color: $c-black;
    transition: transform 0.2s ease-in;
}

.recipe-ingredients__expand {
    position: fixed;
    z-index: 5;
    top: 2px;
    right: 22px;
    width: 32px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

.recipe-ingredients__rows {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-ingredients__row {
    position: relative;
    overflow: hidden;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    border-top: $c-grey solid 1px;
    transition: color 0.4s ease-in;

    span {
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(to bottom, $c-grey 0%, $c-grey 100%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: -300px .5em;
        transition: background 0.4s ease-in;
    }

    &.is-used {
        color: $c-grey;

        span {
            background-position: 0 .5em;
        }
    }
}

.recipe-ingredients__amount {
    width: 80px;
    margin-right: 5px;
    padding-right: 5px;
    border-right: $c-grey solid 1px;
    flex-shrink: 0;
    display: none;
}

.imperial .recipe-ingredients__amount--imperial,
.metric .recipe-ingredients__amount--metric {
    display: block;
}

.recipe-ingredients__substitute {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease-out;
    cursor: pointer;

    &:hover {
        transform: translateX(2px);
    }
}
