.recipe-intro {
    position: relative;
    margin: 20px auto 10px;
    font-size: 20px;
    line-height: 28px;

    @include mq(tablet) {
        margin-bottom: 20px;
    }
}

.recipe-intro__inner {
    @include mq(tablet) {
        padding-right: 340px;
    }

    @include mq(desktop) {
        display: flex;
    }
}

.recipe-intro__description {
    max-width: 600px;

    @include mq(desktop) {
        margin-right: 20px;
    }

    p {
        margin-top: 0;
        margin-bottom: 20px;
    }

    a {
        border-bottom: 1px solid $c-black;
    }
}

.recipe-intro__details {
    list-style: none;
    margin: 0 20px 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(desktop) {
        display: block;
    }
}

.recipe-intro__detail {
    width: calc(33% - 10px);
    padding: 3px 0;

    @include mq(tablet) {
        width: 140px;
    }

    @include mq(desktop) {
        padding: 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            height: 1px;
            background-color: $c-light-grey;
            width: 100%;
        }
    }
}

.recipe-intro__detail--units {
    @include mq($until: tablet) {
        width: 100%;
        border-top: 1px solid $c-light-grey;
        margin-top: 6px;
        padding-top: 6px;

        .recipe-intro__detail-label {
            display: inline;

            &:after {
                content: ':';
            }
        }
    }
}

.recipe-intro__detail:last-of-type:after {
    content: none;
}

.recipe-intro__detail-label {
    display: block;
}

.recipe-intro__detail-value {
    color: $c-grey;
}

.recipe-intro__detail-unit {
    background-position: -120px .5em; 
}

.imperial .recipe-intro__detail-unit--imperial,
.metric .recipe-intro__detail-unit--metric {
    pointer-events: none;
}

.metric .recipe-intro__detail-unit--imperial,
.imperial .recipe-intro__detail-unit--metric {
    background-image: linear-gradient(to bottom, $c-grey 0%, $c-grey 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 .5em;
    transition: background 0.2s ease-in, color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to bottom, $c-black 0%, $c-black 100%);
        background-position: 0 .95em;
    }
}

