.recipe-steps {
    list-style: none;
}

.recipe-step {
    margin: 20px 0;

    @include mq($until: tablet) {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 132px); // 132 is the ingredients bar + next step + 20 padding above and below
    }

    @include mq(tablet) {
        margin-right: 340px;
    }

    .container {
        display: flex;
    }
}

.recipe-step__content {
    position: relative;
    z-index: 1;
    background-color: $c-white;
    border: 1px solid $c-grey;
    border-bottom: none;
    padding: 24px 12px;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 44px;
        width: 1px;
        height: 100%;
        background-color: $c-grey;

        @include mq(tablet) {
            left: 60px;
        }
    }
}

.recipe-step__corner {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid $c-grey;
}

.recipe-step__corner--top-left {
    top: -8px;
    left: -8px;
}

.recipe-step__corner--bottom-left {
    bottom: -8px;
    left: -8px;
}

.recipe-step__corner--top-right {
    top: -8px;
    right: -8px;
}

.recipe-step__corner--bottom-right {
    bottom: -8px;
    right: -8px;
}

.recipe-step__number {
    position: relative;
    border: 1px solid $c-grey;
    width: 56px;
    height: 56px;
    border-radius: 48px;
    margin: 0 14px 0 3px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $c-white;

    @include mq(tablet) {
        width: 72px;
        height: 72px;
        margin: 0 24px 0 11px;
    }
}

.recipe-step__number__digit {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: $c-black;
    font-size: 42px;
    line-height: 1.5;
    font-weight: bold;

    @include mq(tablet) {
        font-size: 54px;
        line-height: 1.6;
    }
}

.recipe-step__text {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.recipe-step__instructions {
    margin-top: -6px;
    font-size: 20px;
    line-height: 28px;
    color: $c-black;

    p {
        margin: 0;
    }
}

.recipe-step__temp,
.recipe-step__unit {
    display: none;
}

.imperial .recipe-step__temp--fahrenheit,
.imperial .recipe-step__unit--imperial,
.metric .recipe-step__temp--celsius,
.metric .recipe-step__unit--metric {
    display: inline;
}

.recipe-step__visual {
    flex-grow: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 56.25%;
    background-color: $c-light-grey;
}

.recipe-step__tip {
    z-index: 2;
    font-size: 20px;
    line-height: 28px;
    display: none;

    @include mq(tablet) {
        position: absolute;
        bottom: 20px;
        width: 30%;
    }

    &--mobile {
        @include mq($until: tablet) {
            display: block;
            color: $c-black;
            margin-top: 24px;
        }
    }

    &--tablet {
        @include mq(tablet) {
            display: block;
            color: $c-white;
        }
    }

    strong {
        display: block;
    }
}

.recipe-step__line {
    position: absolute;
    width: 90px;
    left: 20px;
    bottom: 11px;

    @include mq(tablet) {
        width: 60%;
        position: absolute;
        top: calc(-100% - 4px);
        left: auto;
        bottom: auto;
    }
}

.recipe-step__tip--left {
    left: 20px;

    .recipe-step__line {
        right: -19px;
        transform: scaleX(-1);
    }
}

.recipe-step__tip--right {
    right: 20px;

    .recipe-step__line {
        left: calc(-60% - 10px);
    }
}

.recipe-step__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}
