.recipe-header {
    position: relative;
    color: $c-white;
    background-color: $c-light-grey;
    padding-top: 56.25%;

    @include mq(tablet) {
        height: 0;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}

.recipe-header__image {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.recipe-header__content {
    z-index: 2;
    overflow: auto;

    @include mq(tablet) {
        background-color: transparent !important; // to override custom colours
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.recipe-header__country {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 20px;
}

.recipe-header__country-flag {
    margin-right: 9px;
    border: 1px solid $c-white;

    @include mq(tablet) {
        border: 0;
    }
}

.recipe-header__country-content {
    margin-top: 4px;
}

.recipe-header__country-label,
.recipe-header__country-meta {
    margin: 0;
    font-size: 28px;
}

.recipe-header__country-meta {
    font-size: 20px;
    font-weight: normal;
    margin-top: 2px;
}

.recipe-header__divider {
    opacity: 0.4;
}

.recipe-header__title {
    max-width: 720px;
    margin: 6px 0 20px;
    font-size: 48px;
    line-height: 48px;
    border-top: 1px solid white;
    padding-top: 12px;

    @include mq(tablet) {
        font-size: 68px;
        line-height: 68px;
        margin-right: 340px;
        border: 0;
    }
}
